*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}
/* Mi código*/

.hamb {
  display: none;
}

.encabezado {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
}

#planet {
  color: green;
}

#skin {
  color: pink;
}

nav {
  display: flex;
  gap: 8px;
}

menu {
  display: flex;
  width: 100%;
  gap: 20px;
}

select {
  width: 120px;
  height: 40px;
  border-style: none;
}

#idioma {
  background-color: pink;
  width: 120px;
  height: 40px;
}

h1 {
  color: red;
}

.menu-tablet {
  display: none;
  flex-direction: column;
  position: relative;
  z-index: 100;
}

.hero {
  display: flex;
  width: 100%;
}

.hero-img {
  width: 100%;
  min-height: 90vh;
  position: relative;
  background-image: url("./img/sk_fondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(0.7);
}

.hero-div {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero-div p {
  color: white;
}

.hero-div h2 {
  color: white;
}

.para-mi {
  width: 20%;
  padding: 12px;
  background-color: pink;
  color: white;
  border-style: none;
}

.gift {
  border-radius: 28px;
  width: 160px;
  background-color: pink;
  border-style: none;
  color: white;
  padding: 12px;
}

.planetSkinClub {
  position: absolute;
  bottom: 60px;
  padding: 20px;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
}

.slider-dots {
  display: flex;
  gap: 8px;
}

.slider-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid white;
}

.active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: white;
}
footer {
  text-align: center;
}

footer button {
  background-color: pink;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: none;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
/* 
- Cuando la pantalla sea menor de 480px, el menú del navbar debe convertirse en un menú desplegable u oculto.
- Cuando la pantalla sea mayor de 480px y menor de 768px, el menú tendrá que estar en el lateral. */

/* @media (min-width: 480px) and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
} */

@media (max-width: 480px) {
  .menu-desktop {
    display: none;
  }
  .hamb {
    display: block;
    background-color: red;
  }
  .encabezado {
    justify-content: center;
    gap: 40px;
  }
}
